<!DOCTYPE html>
<html>
    <head>
        <title>Authentification</title>
    </head>
    <body>
        <table class="table table-striped table-bordered table-sm">  
            <thead class="thead-dark">  
            <tr>  
                <th>Nom</th>  
                <th>Prenom </th>  
                <th>Num telephone</th>  
                <th>statut du mail</th>  
                <th>etat de candidature</th>  
            </tr>  
            </thead>  
            <tbody>  
        {% for candidat in candidats %}  
            <tr>  
                <td>{{ candidat.nom }}</td>  
                <td>{{ candidat.prenom }}</td>  
                <td>{{ candidat.num_tel }}</td>  
                <td>reçu</td>  
                <td>nouvelle</td>
                
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>  
        <a href="/index/">Nouvelle candidature</a> 
    </body>
</html>